################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/LockdownBowser
/Debug
/LockdownBowser
/x64/Debug
